/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
  --clr-dark: 0, 0%, 6%;
  --clr-accent: 357, 75%, 49%;
  --clr-white: 0, 0%, 100%;

  /* font-sizes*/
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-family */
  --ff-sans: "Josefin Sans", sans-serif;
  --ff-serif: "Domine", serif;
}

/* ------------------ */
/* Reset              */
/* ------------------ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.container {
  padding-inline: 2em; /* width: 90%; */
  max-width: 88rem; /* max-width: 1400px; */
  margin-inline: auto; /* margin: 0 auto; */
}

:root {
  --gap: 2rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.text-white {
  color: hsl(var(--clr-white));
}
